.calendar {
  background-color: #fff;
  width: 500px;
  border-radius: 15px;
  padding: 40px 30px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.calendar__header {
  display: flex;
  justify-content: space-between;
}

.calendar__title {
  font-weight: 600;
}

.calendar__button-container {
  display: flex;
  align-items: center;
  gap: 20px;
}

.calendar__button {
  display: flex;
  align-items: center;
  border: none;
  background: transparent;
  cursor: pointer;
}

.calendar__next {
  height: 25px;
  width: 25px;
  opacity: 1;
}

.calendar__next:hover {
  opacity: 0.65;
  transition: all 1s linear;
}

.calendar__prev {
  height: 25px;
  width: 25px;
  opacity: 1;
}

.calendar__prev:hover {
  opacity: 0.7;
  transition: all 1s linear;
}

.calendar__weekdays {
  margin: 35px 0 20px 0;
  list-style: none;
  font-weight: 600;
  display: flex;
  justify-content: space-between;
}

.calendar__days {
  list-style: none;
  font-weight: 500;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
  gap: 20px 37px;
}

.calendar__day {
  border: 1px solid #a6bdd7;
  padding: 2px;
  display: flex;
  justify-content: center;
  border-radius: 50%;
  cursor: pointer;
}
