.calendar {
  background-color: #fff;
  max-width: 500px;
  border-radius: 15px;
  padding: 40px 40px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.calendar__header {
  display: flex;
  justify-content: space-between;
}

.calendar__title {
  font-weight: 600;
}

.calendar__button-container {
  display: flex;
  align-items: center;
  gap: 20px;
}

.calendar__button {
  display: flex;
  align-items: center;
  border: none;
  background: transparent;
  cursor: pointer;
}

.calendar__next {
  height: 25px;
  width: 25px;
  opacity: 1;
}

.calendar__next:hover {
  opacity: 0.65;
  transition: all 1s linear;
}

.calendar__prev {
  height: 25px;
  width: 25px;
  opacity: 1;
}

.calendar__prev:hover {
  opacity: 0.7;
  transition: all 1s linear;
}

.calendar__weekdays {
  margin: 35px 0 20px 0;
  list-style: none;
  font-weight: 600;
  display: flex;
  justify-content: space-between;
}

@media screen and (max-width: 500px) {
  .calendar__weekdays {
    width: 97%;
    align-items: center;
  }
}

.calendar__days {
  list-style: none;
  font-weight: 500;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: repeat(5, 1fr);
  gap: 20px 38px;
}

@media screen and (max-width: 555px) {
  .calendar__days {
    gap: 20px 10px;
  }
}

.calendar__day {
  padding: 2px;
  display: flex;
  justify-content: center;
  /* border-radius: 50%; */
  cursor: pointer;
}

.calendar__day_event {
  border-bottom: 3px solid #a6bdd7;
}

.calendar__day_holiday {
  color: red;
}

.calendar__day_inactive {
  color: #aaa;
}

.calendar__week-deals {
  margin-top: 30px;
  font-size: 20px;
}

@media screen and (max-width: 475px) {
  .calendar__week-deals {
    font-size: 18px;
  }
}

.calendar__see-more {
  cursor: pointer;
  color: #5d9b9b;
  opacity: 1;
}

.calendar__see-more:hover {
  opacity: 0.6;
  transition: opacity 0.7s ease-in-out;
}
