.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 1px solid rgba(76, 76, 255, 0.2);
  max-width: 720px;
  min-height: 400px;
  width: 100%;
  background-color: #fff;
  border-radius: 30px;
  padding: 40px 40px 40px 40px;
  z-index: 50;
}

@media screen and (max-width: 500px) {
  .modal {
    max-width: 400px;
  }
}

.modal__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.modal__title {
  font-size: 26px;
}

@media screen and (max-width: 500px) {
  .modal__title {
    font-size: 20px;
  }
}

.modal__close {
  background: transparent;
  border: none;
  padding: 0;
  display: flex;
  cursor: pointer;
}

.modal__close-icon {
  width: 30px;
  height: 30px;
}

@media screen and (max-width: 475px) {
  .modal__close-icon {
    width: 23px;
    height: 23px;
  }
}
